
@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap');


body{
    transition: all 2s ease-in;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tamma 2', cursive;
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
}

.about--text{
    font-size: 1rem;
}

.navbar-text{
    text-align: center;
    color: black !important;
    font-size: 25px;
}

.section-text{
    font-size: 3rem;
    color: rgb(14, 0, 0);
    font-weight: 500;
    text-align: center;
    margin-top: 6rem;
    
}

.img {
    height: 100%;
    width: 100%;
}

.gallery{
    display: grid !important;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}


.section-2 {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.432), rgba(10, 209, 216, 0.568)),url('../img/main.jpg');
    background-size: cover;
    text-align: center;
    height: 80vh;
    padding: 5rem;
}

.section-button {
    margin-top: 1rem;
}

.section-3 {
    display: block;
    margin-top: 5px;
}

.row{
    margin: 5px;
}



.section-4b{
    /* background-image: linear-gradient(to right, rgba(150, 149, 149, 0.438), rgba(148, 193, 219, 0.575), rgba(150, 149, 149, 0.438)); */
    padding: 2rem;
}

.section-4-text {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 25px;
    transform: skewX(-8deg);
    box-shadow: 10px 5px 25px rgba(160, 149, 149, 0.685);
}


.section-5 {
    background-color: #000;
    color: white;
    padding: 1rem;
}

.comment-head {
    color: rgb(23, 112, 148);
    text-transform: uppercase;
    font-size: 25px;
    font-style: italic;
}

.comment-text {
    font-size: 1.5rem;
    font-weight: 500;
    font-style: oblique;
}

.comment-text-2 {
    font-size: 1rem;
    font-weight: 300;
    font-style: italic;
}

.icon {
    fill: #fff;
    width: 20px;
    height: max-content;
}



.social-link{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 10px;
    transform: translate(-40px, -50px);
    
}

.social-link a {
    text-decoration: none;
}

.use:hover {
    fill: rgba(148, 193, 219, 0.575);
}

.social-link li {
    display: inline;
    list-style-type: none;
    padding: 0;
    margin-right: 3rem;
}

.address{
    display: grid;
    grid-template-columns: 20px 1fr;
    height: 4rem;
    grid-gap: 10px;
    width: 20rem;
}

.address svg{
    height: 20px;
}

.phone{
    display: grid;
    grid-template-columns: 20px 1fr;
    height: 20px;
    grid-gap: 10px;
    margin-top: 60px;
}

.phone svg{
    height: 20px;
}

.last{
    margin-top: 2rem;
}

